.top-things {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.thing-content {
  flex: 32%;
  max-width: 32%;
  margin: 5px;
  font-size: 1.5em;
  background-color: rgb(159, 234, 116);
  border-radius: 10px;
}

a{
  color: rgba(255, 255, 0, 1.49);
  text-decoration: none;
  display: inline-block;
  width: 400px;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}

.thing-content:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}

a:hover {
  color: #039be5;
}
