<div *ngIf="thing$ | async as thing">
  <h2>Thing details</h2>
  <span>id: {{thing.id}}</span>
  <div class="thing-inputs">
    <label>name:<input [(ngModel)]="thing.name" placeholder="name"/></label>
    <label>scores: <input type="number" name="scores" min="-100" max="100" step="5" [(ngModel)]="thing.scores" placeholder="scores" /></label>
    <label for="description">description:</label>
    <textarea id="description" [(ngModel)]="thing.description" placeholder="description" rows="7" cols="50"></textarea>
  </div>
  <button (click)="save(thing)">save</button>
  <button (click)="goBack()">go back</button>
</div>
