/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background: rgba(255, 255, 0, 0.49);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  font-size: 3.2em;
  color: rgb(135, 228, 228);
  margin: 10px;
}

h2 {
  font-size: 2.5em;
  color: rgb(135, 228, 228);
  margin: 10px;
}
